<h1>All Comedians</h1>
<section class="statistics"
  <h2>Statistics</h2>
  <p>Average Age of Comedians: <%= @average_age %></p>
  <p>Unique Hometowns: <%= @unique_cities %></p>
</section>

<h1 class="intro">Header 1</h1>

<% @comedians.each do |comedian| %>
<section id='comedian-<%= comedian.id %>' >
  <%= image_tag(comedian.image, size: "200x300") if comedian.image%>
  <h2>Name: <%= comedian.name %></h2>
  <h3>Age: <%= comedian.age %></h2>
  <h3>Hometown: <%= comedian.hometown %></h2>
</section>

<%comedian.specials.each do |special| %>
  <section id='special-<%= special.id %>' >
    <h2>Name: <%= special.name %></h2>
    <h3>Runtime: <%= special.runtime %></h2>
  </section>
  <% end %>
<% end %>
